# Configuration file

form {

    data {
        # Custom Form Color Code (used for the Display Name in the Stat Sheet) - https://htmlcolorcodes.com/minecraft-color-codes/
        S:"Form Color Code"=8

        # Custom Form Display Name
        S:"Form Display Name"=Super Saiyan 4 (Daima)

        # Min God Skill Level to transform
        I:"Form God Skill Level"=-1

        # Min G.O.D Skill Level to transform
        I:"Form God of Destruction Skill Level"=0

        # Health Drain Percentage. Every second (Max HP * 100 / Form Health Drain) health is drained. (Range: 0 to 100)
        D:"Form Health Drain"=0.0

        # Kaioken Health Drain Multiplier. (Base health drain multiplied by this number). (Range: 0 to 50)
        D:"Form Kaioken Health Drain"=1.0

        # Min Kaioken Skill Level to transform
        I:"Form Kaioken Skill Level"=0

        # Ki Drain (expressed in negative values, lower the value, higher the drain). -1 equals to SSJ3 Ki Drain. (Range: 0 to -10)
        I:"Form Ki Drain"=-0.03

        # Custom Form Menu Display Name (Form Selection Menu Name) (Empty = Not visible in Form Selection Menu)
        S:"Form Menu Display Name"=Super Saiyajin 4 Daima

        # Custom Form Multiplier (Range 1-20000)
        D:"Form Multiplier"=300.0

        # Min Mystic Skill Level to transform
        I:"Form Mystic Skill Level"=0

        # Custom Form Name (DO NOT USE ANY SPACE OR SPECIAL CHARACTER, THIS IS THE NAME THAT IS GOING TO BE USED IN COMMANDS)
        S:"Form Name"=SS4D

        # Custom Form Races Values: (sai, hsai, fri, hum, nam, maj, bio)
        S:"Form Races"=sai,hsai

        # Min Racial Level to transform
        I:"Form Racial Skill"=7

        # Min Ultra Instinct Skill Level to transform
        I:"Form Ultra Instinct Skill Level"=0

        # Can this form be used with Kaioken? (Kaioken Sustainable Super must be enabled in DBC config!)
        B:"Is Kaioken Stackable?"=true

        # Next Custom Form Name (Empty = No Next Form)
        S:"Next Form Name"=

        # Min Custom Skill Level to transform
        I:"Required Custom Skill Level"=-1

        # Required Custom Skill to transform (Empty = No Custom Skill)
        S:"Required Custom Skill Name"=

        mastery {
            # Form Mastery Attribute Multiplier
            D:"Attribute Multiplier"=0.016

            # Form Mastery Health Drain Multiplier (Kaioken and Normal Drain)
            D:"Health Drain Multiplier"=0

            # Form Mastery Instant Transform Level (-1 = Disabled Instant Transform)
            I:"Instant Transform Level"=10

            # Form Mastery Ki Drain Multiplier
            D:"Ki Drain Multiplier"=0.02

            # Form Mastery Max Level
            D:"Max Level"=50.0
        }

    }

    ##########################################################################################################
    # display
    #--------------------------------------------------------------------------------------------------------#
    # https://www.mathsisfun.com/hexadecimal-decimal-colors.html - Copy the Decimal color and use it here!
    ##########################################################################################################

    display {
        # Custom Form Bar Color (Decimal Color) (-1 = Disabled)
        I:"Bar Color"=16765286

        # Is Form Berserk?
        B:Berserk=false

        # Custom Form Body Colors value: bodycm,bodyc1,bodyc2,bodyc3 (-1 = Default)
        S:"Body Colors"=-1,-1,-1,-1

        # Custom Form Body Type (Range: -1  to 2) - Only works for Namekians and Arcosians (-1 equals to keep bodytype)
        I:"Body Type"=-1

        # Custom Form Bulk Multiplier
        D:"Custom Form Bulk Multiplier"=1.0

        # Custom Form Size Multiplier
        D:"Custom Form Size Multiplier"=1.15

        # Custom Form Render State (Only applies to Arcosians and Bio Android)
        I:"Custom Form State Render"=1

        # Custom Hair DNS (change if Hair Type is CUSTOM)
        S:"Custom Hair DNS"=145061566150185445545560215020474345783850024943456150185171413250501842725032505018287150385450185180503241541834713932505018317443325050183180502871801851744532505018517450325050189732493434721845616339584918485263398049185154633978491854545041604918804961396719186852583978491851545239784918715654397849182856543978491897364734654918286139504519193163475045191931635650451919176063504519191758455045191931585250451919315849504519192558585045191922584150451919575849504519195761525045191917585450451919405847503276194058525032761942585250327619315856503276197176184367501888761843635018942171496750186821494971501860181850745618571818507454189725725461501851303650587618971918507280189718185063541888257256675018748038506776182523303876501828233443765018572334455650182525415476501820

        # Has Eye Brow?
        B:"Eye Brow"=true

        # Custom Form Eye Color (Decimal Color) (-1 = Disabled)
        I:"Eye Color"=12189768

        # Custom Form Fur Color (Decimal Color) (-1 = No Fur)
        I:"Fur Color"=11468838

        # Custom Form Hair Color (Decimal Color) (-1 = Disabled)
        I:"Hair Color"=12189768

        # Form Hair Type (BASE, SS1, SS2, SS3, SS4, CUSTOM)
        S:"Hair Type"=CUSTOM

        # Custom Form Tail Color (Decimal Color) (-1 = Hair Color)
        I:"Tail Color"=11468838
        I:Tattoo=0

        # Custom Form Tattoo Color (Decimal Color)
        I:"Tattoo Color"=-1

        # Custom Form Tattoos - Separate by commas every tattoo id (0 = None, 1 = Namekian Orange, 2 = G.O.D, 3 = Omni, 4 = Infinity, 5 = Sukuna, 6 = Dragon Balls, 7 = Daima SSJ4 Fur)
        S:Tattoos=0

        aura1 {
            # 2D Aura Type (-1 = Disabled, 0 = God Aura, SSB = 1, SSBE = 2, SSR = 3, Golden = 4, SSRE = 5, 6 = G.O.D, 7 = U.I, 8 = M.U.I)
            I:"2D Aura"=-1

            # 3D Aura Type (base, ssg, ssb, ui, gd, golden)
            S:"3D Aura"=base

            # Is Aura1 Enabled?
            B:"Aura Enabled"=true

            # Aura Size (-1 = Default)
            I:"Aura Size"=9

            # Aura Speed (lower the value, faster the aura)
            I:"Aura Speed"=20

            # Aura Lightning
            B:"Has Lightning"=true

            # Aura Lightning Color (r,g,b,a) (0-255)
            S:"Lightning Color"=255,255,1,255

            # Primary Color (Decimal Color)
            I:"Primary Color"=16765286

            # Secondary Color (Decimal Color)
            I:"Secondary Color"=16777168
        }

        aura2 {
            # Is Aura2 Enabled?
            B:"Aura Enabled"=false
        }

        aura3 {
            # Is Aura3 Enabled?
            B:"Aura Enabled"=false
        }

        aura4 {
            # Is Aura4 Enabled?
            B:"Aura Enabled"=false
        }

        aura5 {
            # Is Aura5 Enabled?
            B:"Aura Enabled"=false
        }

    }

    "status effects" {

        legendary {
            # Legendary Status Effect Form Bar Color (-1 equals to No Changes)
            I:"Bar Color"=-1

            # Legendary Status Effect Form Body Colors (-1 equals to No Changes)
            S:"Body Colors"=-1,-1,-1,-1

            # Legendary Status Effect Form Eye Color (-1 equals to No Changes)
            I:"Eye Color"=-1

            # Legendary Status Effect Form Fur Color (-1 equals to No Changes)
            I:"Fur Color"=-1

            # Legendary Status Effect Form Hair Color (-1 equals to No Changes)
            I:"Hair Color"=-1

            # Legendary Status Effect Form Ki Color (-1 equals to No Changes)
            I:"Ki Color"=-1

            # Legendary Status Effect Form Tail Color (-1 equals to No Changes)
            I:"Tail Color"=-1

            # Legendary Status Effect Form Tattoo Color (-1 equals to No Changes)
            I:"Tattoo Color"=-1
        }

        divine {
            # Divine Status Effect Form Bar Color (-1 equals to No Changes)
            I:"Bar Color"=-1

            # Divine Status Effect Form Body Colors (-1 equals to No Changes)
            S:"Body Colors"=-1,-1,-1,-1

            # Divine Status Effect Form Eye Color (-1 equals to No Changes)
            I:"Eye Color"=-1

            # Divine Status Effect Form Fur Color (-1 equals to No Changes)
            I:"Fur Color"=-1

            # Divine Status Effect Form Hair Color (-1 equals to No Changes)
            I:"Hair Color"=-1

            # Divine Status Effect Form Ki Color (-1 equals to No Changes)
            I:"Ki Color"=-1

            # Divine Status Effect Form Tail Color (-1 equals to No Changes)
            I:"Tail Color"=-1

            # Divine Status Effect Form Tattoo Color (-1 equals to No Changes)
            I:"Tattoo Color"=-1
        }

    }

}


